a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *::after, *::before {
        content: '';
    }

body {
    font-size: 100%;
    font-family: "PT Sans", sans-serif;
    /*color: #f8f7ee;*/
    background-color: #29324e;
}

a {
    color: #f05451;
    text-decoration: none;
}

header {
    position: relative;
    /*height: 108px;*/
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    header h1 {
        font-size: 2em;
        color: whitesmoke;
    }

.cd-tabs {
    position: relative;
    width: 1346px;
    margin: 1em auto 0 auto;
}

    .cd-tabs:after {
        content: "";
        display: table;
        clear: both;
    }

    .cd-tabs::after {
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        width: 50px;
        z-index: 1;
        pointer-events: none;
        background: -webkit-linear-gradient( right, #f8f7ee, rgba(248, 247, 238, 0));
        background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }

.no-cssgradients .cd-tabs::after {
    display: none;
}

.cd-tabs.is-ended::after {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-tabs nav {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #f8f7ee;
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}

.cd-tabs-navigation {
    width: 360px;
}

    .cd-tabs-navigation:after {
        content: "";
        display: table;
        clear: both;
    }

    .cd-tabs-navigation li {
        float: left;
    }

    .cd-tabs-navigation a {
        position: relative;
        display: block;
        height: 60px;
        width: 60px;
        text-align: center;
        font-size: 12px;
        font-size: 0.75rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 700;
        color: #c3c2b9;
        padding-top: 34px;
    }

.no-touch .cd-tabs-navigation a:hover {
    color: #29324e;
    background-color: rgba(233, 230, 202, 0.3);
}

.cd-tabs-navigation a.selected {
    background-color: #ffffff !important;
    box-shadow: inset 0 2px 0 #f05451;
    color: #29324e;
}

.cd-tabs-navigation a::before {
    position: absolute;
    top: 12px;
    left: 50%;
    margin-left: -10px;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../images/vicons.svg');
    background-repeat: no-repeat;
}

.cd-tabs-navigation a[data-content='inbox']::before {
    background-position: 0 0;
}

.cd-tabs-navigation a[data-content='new']::before {
    background-position: -20px 0;
}

.cd-tabs-navigation a[data-content='gallery']::before {
    background-position: -40px 0;
}

.cd-tabs-navigation a[data-content='store']::before {
    background-position: -60px 0;
}

.cd-tabs-navigation a[data-content='settings']::before {
    background-position: -80px 0;
}

.cd-tabs-navigation a[data-content='trash']::before {
    background-position: -100px 0;
}

.cd-tabs-navigation a[data-content='inbox'].selected::before {
    background-position: 0 -20px;
}

.cd-tabs-navigation a[data-content='new'].selected::before {
    background-position: -20px -20px;
}

.cd-tabs-navigation a[data-content='gallery'].selected::before {
    background-position: -40px -20px;
}

.cd-tabs-navigation a[data-content='store'].selected::before {
    background-position: -60px -20px;
}

.cd-tabs-navigation a[data-content='settings'].selected::before {
    background-position: -80px -20px;
}

.cd-tabs-navigation a[data-content='trash'].selected::before {
    background-position: -100px -20px;
}

.cd-tabs nav {
    position: relative;
    float: none;
    background: transparent;
    box-shadow: none;
}

.cd-tabs-navigation {
    width: 100%;
    background-color: #f8f7ee;
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}

    .cd-tabs-navigation a {
        height: 60px;
        line-height: 60px;
        width: auto;
        text-align: left;
        font-size: 0.875rem;
        padding: 0 15px 0 36px;
    }

        .cd-tabs-navigation a.selected {
            box-shadow: inset 0 2px 0 #f05451;
        }

        .cd-tabs-navigation a::before {
            top: 50%;
            margin-top: -10px;
            margin-left: 0;
            left: 13px;
        }

.cd-tabs-content {
    min-height: 0;
}

    .cd-tabs-content > li {
        padding: 3em;
    }

        .cd-tabs-content > li > p {
            font-size: 16px;
            font-size: 1rem;
        }

.cd-tabs-content {
    background: #ffffff;
}

    .cd-tabs-content > li {
        display: none;
        padding: 1.4em;
    }

        .cd-tabs-content > li.selected {
            display: block;
            -webkit-animation: cd-fade-in 0.5s;
            -moz-animation: cd-fade-in 0.5s;
            animation: cd-fade-in 0.5s;
        }

        .cd-tabs-content > li p {
            font-size: 14px;
            font-size: 0.875rem;
            line-height: 1.6;
            color: #8493bf;
            margin-bottom: 2em;
        }

@-webkit-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cd-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 16px/100% Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

    .button:hover {
        text-decoration: none;
    }

    .button:active {
        position: relative;
        top: 1px;
    }

.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

    .white:hover {
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
        background: -moz-linear-gradient(top, #fff, #dcdcdc);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
    }

    .white:active {
        color: #999;
        background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
        background: -moz-linear-gradient(top, #ededed, #fff);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
    }

.farbtastic {
    position: relative;
}

    .farbtastic * {
        position: absolute;
        cursor: crosshair;
    }

    .farbtastic, .farbtastic .wheel {
        width: 195px;
        height: 195px;
    }

        .farbtastic .color, .farbtastic .overlay {
            top: 47px;
            left: 47px;
            width: 101px;
            height: 101px;
        }

        .farbtastic .wheel {
            background: url(../images/wheel.png) no-repeat;
            width: 195px;
            height: 195px;
        }

        .farbtastic .overlay {
            background: url(../images/mask.png) no-repeat;
            border: 1px solid rgb(236, 236, 236);
        }

        .farbtastic .marker {
            width: 17px;
            height: 17px;
            margin: -8px 0 0 -8px;
            overflow: hidden;
            background: url(../images/marker.png) no-repeat;
        }

.RenkSecimDiv {
    position: relative;
    margin: 10px;
    width: 196px;
    height: 257px;
    float: left;
    box-shadow: 0 0 4px gray;
    border-radius: 5px;
}

.farbstatTitle {
    float: left;
    text-align: center;
    width: 100%;
    margin: 3px 0;
    font-size: 21px;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    color: #3A3232;
}

.RenkGosterim {
    width: 96%;
    padding: 5px;
    height: 32px;
    border-radius: 8px;
    margin: auto 6px;
    color: rgb(255, 255, 255);
    background-color: rgb(64, 64, 65);
}

.RenklerLI {
    width: 1120px;
    margin: auto;
    height: 560px;
}

.RenkGrup {
    height: 275px;
    border-radius: 6px;
    background: #F1F1F1;
    margin: 10px;
    box-shadow: 0 0 3px #989898;
}

.RenkAciklama {
    float: left;
    font-size: 25px;
    font-weight: bolder;
    padding: 4px 10px;
    margin: 115px 0 0 8px;
    color: rgba(255, 255, 255, 0.95);
    background-color: #060606;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 0 0 3px #989898;
    text-align: center;
    width: 181px;
}

.YonSecimRow {
    margin: 13px;
    height: 38px;
    display: block;
    clear: both;
}

.YonSecimRow2 {
    margin: 13px;
    height: 38px;
    display: block;
    clear: both;
    text-align: center;
}

.skin-flat {
    margin-top: 23px;
}

.skin-section {
    float: left;
}

    .skin-section h4 {
        padding-bottom: 18px;
    }

.skin-futurico .skin-section h4 {
    color: #a0a0a0;
}

.skin-section .list {
    float: left;
    padding: 0;
}

    .skin-section .list li {
        position: relative;
        padding: 5px 10px;
        width: 160px;
        display: block !important;
        height: 110px;
        float: left;
    }

.skin-futurico .skin-section .list li {
    padding-left: 36px;
}

.skin-flat .colors li.red {
    background: #ec7063;
}

.list > li {
    list-style: none;
}

.icheckbox_flat-red,
.iradio_flat-red {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(../images/red.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-red {
    background-position: 0 0;
}

    .icheckbox_flat-red.checked {
        background-position: -22px 0;
    }

    .icheckbox_flat-red.disabled {
        background-position: -44px 0;
        cursor: default;
    }

    .icheckbox_flat-red.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-red {
    background-position: -88px 0;
}

    .iradio_flat-red.checked {
        background-position: -110px 0;
    }

    .iradio_flat-red.disabled {
        background-position: -132px 0;
        cursor: default;
    }

    .iradio_flat-red.checked.disabled {
        background-position: -154px 0;
    }

.skin-section > .list li > div {
    float: left;
    margin-top: 40px;
    margin-right: 10px;
}

.skin-section > .list li > label {
    height: 100px;
    float: left;
    line-height: 0px;
    cursor: pointer;
}

.seciliParti {
    background-color: rgba(222, 212, 212, 0.89);
    border-radius: 7px;
}

.SecimNot {
    font-size: 23px;
    background: #E4E4E4;
    float: left;
    padding: 7px 0;
    margin-bottom: 8px;
    width: 1290px;
    text-align: center;
    border-radius: 5px;
}

.sortable {
    width: 310px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .sortable li {
        cursor: move;
        list-style: none;
        border: 1px solid #CCC;
        background: #F6F6F6;
        color: #082B3A;
        border-radius: 5px;
        margin: 1px 5px;
        padding: 5px 0px;
        height: 27px;
        display: block;
        float: left;
        text-align: center;
        min-width: 145px;
    }

    .sortable.connected {
        width: 640px;
        padding: 10px;
        height: 660px;
        float: left;
        box-shadow: 0 0 10px #C7C7C7;
        margin-bottom: 20px;
    }

li.disabled {
    opacity: 0.5;
}

li.highlight {
    background: #2f2e2c;
}

li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
    float: right;
}

input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

    input[type=radio].css-checkbox + label.css-label {
        padding-left: 24px;
        height: 19px;
        display: inline-block;
        line-height: 19px;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 19px;
        vertical-align: middle;
        cursor: pointer;
    }

    input[type=radio].css-checkbox:checked + label.css-label {
        background-position: 0 -19px;
    }

label.css-label {
    background-image: url('../images/checkbox1.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label.radGroup2 {
    margin-right: 25px;
}

#CoktanSehir {
    display: none;
}

#IlceOrtada {
    text-align: center;
}

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    cursor: pointer;
    width: 243px;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: rebeccapurple;
    color: #0d0b0b;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #1b59c7;
}

.SeciliSatir {
    background-color: #636060 !important;
    color: white;
    font-weight: bold;
}

.TekrarSuresiDiv {
    width: 390px;
    height: 43px;
    clear: both;
    margin: 9px auto;
    box-shadow: 0 0 10px #C7C7C7;
    padding: 5px;
}

.TekrarSuresi {
    float: left;
    width: 122px;
    margin: 7px;
    font-size: 18px;
}

.styled-select {
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url('../images/new_arrow.jpg') no-repeat right #ddd;
    border: 1px solid #ccc;
}

    .styled-select > select {
        background: transparent;
        width: 240px;
        padding: 5px;
        border: 0;
        border-radius: 0;
        font-size: 16px;
        line-height: 1;
        height: 34px;
        -webkit-appearance: none;
    }

        .styled-select > select:after, .styled-select > select:before, .styled-select:before, .styled-select:after {
            content: none !important;
        }

.KilavizBaslik {
    font-weight: bolder;
    font-size: 20px;
    float: left;
    padding-bottom: 3px;
    border-bottom: 2px solid #f05451;
    margin-bottom: 6px;
}

.KullanmaKilavuzu {
    clear: both;
    min-height: 18px;
}

.KilavuzDetay {
    clear: both;
    line-height: 20px;
    text-indent: 17px;
}

.KullanmaKilavuzu > li {
    width: 1310px;
    height: 40px;
    float: left;
}

    .KullanmaKilavuzu > li > div:nth-child(1) {
        background: rgb(197, 100, 13);
        width: 20px;
        height: 18px;
        border-radius: 4px;
        text-align: center;
        color: white;
        float: left;
        margin-right: 10px;
    }

    .KullanmaKilavuzu > li > div:nth-child(2) {
        float: left;
    }

.KilavuzAciklama {
    margin-bottom: 30px;
}

.YonlendirmeBilgi {
    float: left;
    margin: 10px 10px;
    font-size: 19px;
}

.YonSecimRow > div:first-child {
    float: left;
}

#OrtaTumListe, #GrafikTumListe, #AltTumListe {
    margin-right: 20px;
}

.OrtaKisimSecim, .GrafikKisimSecim, .AltKisimSecim {
    padding: 10px;
    background-color: #E0E0E0;
    text-align: center;
    width: 600px;
    margin: auto;
    border-radius: 8px;
    font-weight: bold;
}

#OrtaKisimDonguSure, #GrafikKisimDonguSure, #AltKisimDonguSure {
    cursor: pointer;
}

#OrtaCoktanSehir {
    display: none;
}

#OrtaTekSehir {
    margin-top: 10px;
}

#OrtaTumunuAt {
    margin: 8px auto;
    height: 40px;
    width: 131px;
}

    #OrtaTumunuAt > i {
        font-size: 40px;
        margin: 0 8px;
        color: #7a7676;
        cursor: pointer;
    }

        #OrtaTumunuAt > i:hover {
            color: #000000;
        }

#OrtaBasliklar {
    height: 30px;
    width: 100%;
    font-size: 20px;
}

    #OrtaBasliklar > span {
        width: 50%;
        float: left;
        text-align: center;
    }

#OrtaTekSehir > div {
    width: 250px;
    float: left;
    background-color: #E8E8E8;
    margin: 6px 5px;
    border-radius: 5px;
}

    #OrtaTekSehir > div:hover {
        background-color: #c7c7c7;
    }

#GrafikCoktanSehir {
    display: none;
}

#GrafikTekSehir {
    margin-top: 10px;
}

#GrafikTumunuAt {
    margin: 8px auto;
    height: 40px;
    width: 131px;
}

    #GrafikTumunuAt > i {
        font-size: 40px;
        margin: 0 8px;
        color: #7a7676;
        cursor: pointer;
    }

        #GrafikTumunuAt > i:hover {
            color: #000000;
        }

#GrafikBasliklar {
    height: 30px;
    width: 100%;
    font-size: 20px;
}

    #GrafikBasliklar > span {
        width: 50%;
        float: left;
        text-align: center;
    }

#GrafikTekSehir > div {
    width: 250px;
    float: left;
    background-color: #E8E8E8;
    margin: 6px 5px;
    border-radius: 5px;
}

    #GrafikTekSehir > div:hover {
        background-color: #c7c7c7;
    }

#AltCoktanSehir {
    display: none;
}

#AltTekSehir {
    margin-top: 10px;
}

#AltTumunuAt {
    margin: 8px auto;
    height: 40px;
    width: 131px;
}

    #AltTumunuAt > i {
        font-size: 40px;
        margin: 0 8px;
        color: #7a7676;
        cursor: pointer;
    }

        #AltTumunuAt > i:hover {
            color: #000000;
        }

#AltBasliklar {
    height: 30px;
    width: 100%;
    font-size: 20px;
}

    #AltBasliklar > span {
        width: 50%;
        float: left;
        text-align: center;
    }

#AltTekSehir > div {
    width: 250px;
    float: left;
    background-color: #E8E8E8;
    margin: 6px 5px;
    border-radius: 5px;
}

    #AltTekSehir > div:hover {
        background-color: #c7c7c7;
    }

.YonSecimDiv {
    padding: 10px;
    background-color: #E0E0E0;
    text-align: left;
    border-radius: 8px;
    font-weight: bold;
    height: 790px;
}

.YonSecenek {
    clear: both;
    /* box-shadow: 0 0 4px darkgrey; */
    border-radius: 4px;
    /*height: 178px;*/
    width: 620px;
    margin: 0px 20px;
    padding: 3px 9px;
}

.YonAltBaslik {
    font-weight: bolder;
    font-size: 26px;
    margin: 10px 0px;
    border-bottom: 1px solid #3C3C3C;
    width: auto;
    padding-bottom: 4px;
    float: left;
}

.YonImage {
    float: right;
}

    .YonImage > img {
        height: 140px;
    }

.YonRadio {
    float: left;
    margin: 10% 6px;
    width: 330px;
}

.OrtaGrafikHaritaBos {
    padding: 10px;
    background-color: #E0E0E0;
    text-align: center;
    width: 600px;
    margin: auto;
    border-radius: 8px;
    font-weight: bold;
}

.OrtaAlanSecim:hover {
    background: #bdbdbd;
}

.OrtaAlanSecim {
    padding: 3px 0px;
    width: 580px;
    height: 28px;
    margin: 10px 0;
    background: #D6D6D6;
    cursor: pointer;
    border-radius: 5px;
}

    .OrtaAlanSecim > i {
        position: absolute;
        opacity: 0.4;
        font-size: 19px;
        margin-left: 31%;
        margin-top: 2px;
        left: 0;
        color: black;
    }

    .OrtaAlanSecim > label {
        width: 572px;
        margin: 0;
    }

#SehirTekSehir {
    margin-top: 10px;
}

    #SehirTekSehir > div {
        width: 250px;
        float: left;
        background-color: #E8E8E8;
        margin: 6px 5px;
        border-radius: 5px;
    }

        #SehirTekSehir > div:hover {
            background-color: #c7c7c7;
        }
