<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFinanceApi" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://aafinans.com/Servisler/FinanceApi.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFinanceApi"
        contract="ServiceReference1.IFinanceApi" name="BasicHttpBinding_IFinanceApi" />
    </client>
  </system.serviceModel>
</configuration>